body {
    background-color: #F4DFC2;
    /* margin: 0; */
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
}

.header {
    grid-area: header;
}


.main {
    grid-area: main;
}

.footer {
    grid-area: footer;

}

.header,
.footer {
    background: linear-gradient(#e7927f, #f32e02);
    text-align-last: center;
}
#blackSquare {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 206px;
    right:0px;
    z-index: 100;
    background-color: #000000;
}

/* #colorList {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 100;
} */



.block-header_elem-logo_mod-layout {
    width: 300px;
    height: 150px;
    text-align: center;
}

.block-header_elem-icon_mod-layout {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.block-header_elem-icon_mod-layout:hover {
    width: 128px;
    height: 128px;
}

.block-main_elem-pics_mod-size {
    width: 300px;
    height: 300px;
}

.usefulInf {
    font: italic 20px "Fira Sans", serif;
    background-color: #fdd6ae;
}

.centerText {
    text-align-last: center;
}

.block-main_elem-mainTable_mod-padding {
    padding: 10px;
}

table {
    padding: 10px;
    border: 1px, solid, black;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(104, 103, 103);
}

table a {
    color: #000000;
}

tr {
    background-color: lightgray;
}

tr:hover {
    background-color: rgb(122, 255, 222);
}

td:hover {
    background-color: rgb(146, 204, 223);
}

.titleText {
    color: brown;
}