<header>
    <img class="block-header_elem-icon_mod-layout" src="pics/icon.png">
    <div>
        <img class="block-header_elem-logo_mod-layout" src="pics/logo.jpeg">
    </div>
</header>

<div class="centerText">
    <nav>
        <ul class="main-menu">
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#">Menu</a>
                <ul class="sub-menu">
                    <li><a href="menu.html">Table Menu</a></li>
                    <li><a href="DIY.html">DIY</a></li>
                    <li><a href="Sport.html">Спорт</a></li>
                    <li><a href="Treveling.html">Путешествия</a></li>
                    <li><a href="Games.html">Сад/Огород</a></li>
                    <li><a href="Games.html">Игры</a></li>
                </ul>
            </li>
            <li><a href="aboutUs.html">About us</a></li>
        </ul>
    </nav>
</div>