<header>
    <img class="block-header_elem-icon_mod-layout" src="/pics/icon.png">
    <div>
        <img class="block-header_elem-logo_mod-layout" src="/pics/logo.jpeg">
    </div>
</header>

<div class="centerText">
    <nav>
        <ul class="main-menu">
            <li><a href="/index.html">Home</a></li>
            <li>
                <a href="#">Menu</a>
                <ul class="sub-menu">
                    <li><a href="/menu.html">Table Menu</a></li>
                    <li><a href="/DIY.html">DIY</a></li>
                    <li><a href="/Sport.html">Спорт</a></li>
                    <li><a href="/Treveling.html">Путешествия</a></li>
                    <li><a href="/Games.html">Сад/Огород</a></li>
                    <li><a href="/Games.html">Игры</a></li>
                </ul>
            </li>
            <li><a href="/aboutUs.html">About us</a></li>
            <li>
                <a href="#">Examples</a>
                <ul class="sub-menu">
                    <li>Block 1</li>
                    <li><a href="/examples/example1.html">example 1</a></li>
                    <li><a href="/examples/example2.html">example 2</a></li>
                    <li><a href="/examples/example3.html">example 3</a></li>
                    <li><a href="/examples/example4.html">example 4</a></li>
                    <li><a href="/examples/example5.html">example 5</a></li>                    
                    <li>Block 2</li>
                    <li><a href="/examples/example6.html">example 3</a></li>                    
                    <li><a href="/examples/example7.html">example 4</a></li>                    
                    <li><a href="/examples/example8.html">example 6</a></li> 
                    <li><a href="/examples/example9.html">example 8</a></li>
                    <li>Block 3</li>
                    <li><a href="/examples/example10.html">example 5</a></li> 
                    <li><a href="#" onclick="window.open('/examples/example11.html');"  >example 9</a></li>                    
                </ul>
            </li>
            <li><a href="/Bootstrap.html">Bootstrap</a></li>
        </ul>
    </nav>
</div>